$brand-blue:#0073CE;
$brand-blue-light:#00A5F0;
$brand-blue-dark:#0073CE;

$brand-yellow:#FFC800;
$brand-yellow-light:#FFDC5C;
$brand-yellow-dark:#855B35;

$brand-green:#01C7DF;
$brand-green-light:#00D7D7;

$gray-600:#33303E;
$gray-500: #4E4B59;
$gray-400: #5F5C6B;
$gray-300: #7A7786;
$gray-200: #C6C5CE;
$gray-100: #F1F0F5;

$fonte-titulo: 'Poppins',
sans-serif;
$fonte-geral: 'Inter',
sans-serif;